<h1>Gists Index</h1>


<%= link_to "Add new gist", new_gist_path %>
<br>
<%= form_tag(gists_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Gists" %>
<%= submit_tag "Search" %>
<% end %>
<% @gists.each do |gist| %>
  <h2><%= link_to gist.name, gist_path(gist) %></h2>
  <p><%= gist.content %></p>
<% end %>
<%= link_to "Add new gist", new_gist_path %>

