<h1><%= @gist.name %></h1>

<h3>Category: <%= @gist.category.name %></h3>
<h3><em><%= @gist.description %></em></h3>
<p><%= @gist.content %></p>
<%= link_to "Edit", edit_gist_path(@gist) %>
<%= link_to "Delete", @gist, method: :delete %>
<br>
<%= link_to "< back", root_path %>

