<h1><%= @gist.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h3><em><%= @gist.description %></em></h3>
      <p><%= @gist.content %></p>
      <%= link_to "Edit", edit_gist_path(@gist) %>
      <%= link_to "Delete", @gist, method: :delete %>
      <br>
      <%= link_to "< back", root_path %>
    </div>
  </div>
</div>
